* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}
body {
    margin: 0;
    padding: 67px;
    overflow: hidden
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #AB8970;
    height: 85%;
    width: 100%;
}

.content {
    padding: 40px;
    text-align: center;
    color: black;
}

.content h2 {
    margin-bottom: 20px;
    font-weight: 700;
}

.content h3{
  font-weight: 700;
}

.content i{
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 2rem;
  color: #ffffff;
}

.content .plan p{
  font-weight: 600;
}

.plans {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.plan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #ffff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
    border-radius: 20px;
}

.change {
  font-size: 12px;
}

.payment-method {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    height: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #ffff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
    border-radius: 20px;
}
  
.checkbox-container {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
  }
  
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
  
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #000;
}
  
.checkbox-container:hover .checkmark {
    background-color: #ccc;
}
  
.checkbox-container input:checked ~ .checkmark {
    background-color: #000;
}
  
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}
  
.checkbox-container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
  
.payment-label {
    margin-left: -65px;
}