* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}
body{
    margin: 0;
    padding: 67px;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #AB8970;
    height: 90%;
    width: 100%;
}
.content{
    text-align: center;
    color: #000;
}
.boxes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
.box{
    display: flex;
    margin-bottom: 20px;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    /* position: absolute; */
    height: 25%;
    width: 75%;
    /* top: 30vh; */
    border-radius: 20px;
    font-weight: 700;
    padding: 20px;
    background-color: #ffffff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
h1{
    align-self: center;
    margin-top: 0;
    font-weight: 700;
    color: #000;
    top: 0;
}