* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}
body {
    margin: 0;
    padding: 67px;
    overflow: hidden
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #AB8970;
    height: 90%;
    width: 100%;
}

.inner.container {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    color: black;
    height: 45%;
    width: 50%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

h3 {
    font-weight: 900;
    font-style: normal;
}

.btn {
    background-color: #ECD9CB;
    border-radius: 20px;
    font-weight: 700;
    padding: 7px 80px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.btn:hover {
    background-color: #ECD9CB;
    border-radius: 20px;
}