body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #F6E3DF;
  font-family: 'Poppins';
}

.sidebar {
  width: 250px;
  background-color: #D4B3A0;
  padding: 20px;
  box-sizing: border-box;
  height: 100vh;
  float: left;
}

.sidebar-header h1 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: bold;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.sidebar-menu li {
  margin-bottom: 10px;
  cursor: pointer;
}

.sidebar-menu li.active {
  font-weight: bold;
}

.sidebar-item {
  background-color: #D9D9D9;
  padding: 15px;
  border-radius: 15px;
}

.label-list li{
  background-color: #fefbfb;
  padding: 5px;
  margin: 10px;
  border-radius: 30px;
  list-style-type: none;
  text-align: center;
}

.main-content {
  margin-left: 250px;
  padding: 20px;
  box-sizing: border-box;
  height: 100vh;
  background-color: #F6E3DF;
  overflow: auto;
}

.content-header h2 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.content-body {
  line-height: 1.6;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #D9D9D9;
  ;
  padding: 10px;
}

.navbar-brand h1 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.search-bar input {
  margin-left: 1000px;
  padding: 5px;
  border-radius: 20px;
  border: none;
  width: 250px;
  font-size: medium;
}

.profile-icon img {
  width: 40px;
  margin-right: 25px;
  height: 40px;
  border-radius: 50%;
}

.content {
  flex-grow: 1;
  padding: 20px;
  background-color: #F6E3DF;
  display: flex;
  flex-direction: column;
}

.title-input,
textarea {
  background-color: #fff;
  resize: none;
  width: 100%;
  border: none;
}

.workspace {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.tools {
  display: flex;
  gap: 10px;
}

.tool-button {
  background-color: #e2e2e2;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Poppins', Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  width: 100px;
}

.text-input {
  margin-right: 10px;
  padding: 5px;
  font-size: 16px;
}

.save-button {
  margin-top: 20px;
  align-self: flex-end;
  background-color: #ECD9CB;
  padding: 10px;
  border-radius: 20px;
  font-weight: bold;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  width: 100px;
}
