* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}
body {
    margin: 0;
    padding: 67px;
    overflow: hidden
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #AB8970;
    height: 85%;
    width: 100%;
}

.content {
    padding: 40px;
    text-align: center;
    color: black;
}

.content h2 {
    margin-bottom: 20px;
} 

.plans {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.plan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #ffff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
    border-radius: 20px;
}

.plan:hover {
    transform: translateY(-5px);
}

.btn {
    background-color: #ECD9CB;
    border-radius: 20px;
    font-weight: 700;
    padding: 7px 80px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.btn:hover {
    background-color: #ECD9CB;
    border-radius: 20px;
}

h3 {
    font-weight: bold;
}

p {
    font-weight: bold;
}

h2 {
    font-weight: bold;
}