* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

.container{
    /* display: flex; */
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #AB8970;
    height: 90%;
    width: 100%;
}

.container-1{
    background: #E2DDD7;
    height: 100%;
    width: 50%;
    justify-content: end;
    padding-top: 50px;
    border-radius: 18px;
    margin-left: 285px;
}

.form-container h3{
    text-align: center;
    padding-bottom: 20px;
    padding-top: 30px;
}

.form-group input.form-control{
    /* border: none; */
    box-shadow: none;
    background: #E2DDD7;
}

.with-line {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid black;
    box-shadow: none;
}

.btn {
    background-color: #ECD9CB;
    border-radius: 20px;
    font-weight: 700;
    padding: 7px 80px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}